Lista de cerințe:
===================================================
AVEM NEVOIE DE LEGISLATIE DE LA BAIETI- legislatia trebuie pastrata
BACKLOG- adauga sub voluntari asta
    COLABORAM CU AVOCATI IN SPRIJINUL COPIILOR 
    Avem colaboratori avocați specializați în dreptul copiilor, care ne sprijină constant. Ei ne ajută să îndeplinim misiunea de a proteja și susține copiii, asigurându-le drepturile și bunăstarea
IN PROGRESS - schimba titlu
IN PROGRESS - schimba fav icon
BACKLOG- adauga pagina pentru motivul ajutorului
AM NEVOIE DE LINK DE LA BAIETI- inlocuieste video cu unul de pe youtube la sprijinim viitorul comunitati
AVEM NEVOIE DE LINK-URI DE LA BAIETI- adauga link la fiecare membru al echipei din asocitie
- de sters new&updates ce spun bosi
- schimba la contactatine la 12345
- schimba la statistici la footer
- adauga functionalitatea cand dai pe numele emailului sa iti deschida direct aplicatie sa dai email
- la blog adauga postare
- la proiecte adauga proiecte
- vezi un sistem de admin sa poata adauga blog uri noi de bosi
- vezi cu domeniul ce faci cum ii de la acela




- adauga functionalitate la butoanele cisteste mai mult din sectiunea despre noi
- adauga sectiunea transparenta
- cautarea unui sistem de donatii - - vezi daca nu se poate face un sistem de plata cumva integrat- newsletter pentru abonati ? intreaba pe Serban daca isi doreste asta
- adauga optimizare seo
- adauga calendar al evenimentelor asociatiei? intreaba pe Serban daca isi doreste
- adauga multilingvism cu google
- adauga functionalitatea de citeste mai mult la ultimele noastre proiecte din acasa
- adauga la despre noi o sectiune cu cine este Robert Serban?